header{
    background-color: var(--color_white);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    height: 80px;
}

.containerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan{
    justify-self: end;
    align-self: flex-end;
    padding: 0 0 10px 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
}
